@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div class="container py-5">
    <h2>Admin Panel</h2>
    <p>Burayı sadece Admin görebilir.</p>
</div>
